* {
  padding: 0;
  margin: 0;
  font-family: 'Darker Grotesque', sans-serif;
  color: #fff;
}

.preload {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  font-weight: 400;
  color: #bababa;
  background-color: #ffe6d7;
  background-image: linear-gradient(62deg, #e2e2e2 0%, #f6f6f6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.arrived {
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.words {
  padding-top: 25vh;
  padding-left: 8%;
  min-height: 100vh;
  position: fixed;
}

.footer-test {
  line-height: 1.45em;
}


h1 {
  color: #fcfcfc;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.1em;
}

.color {
  font-size: 4em;
  line-height: 0.875em;
  font-weight: 900;
  letter-spacing: 2px;
}

.title {
  padding-bottom: 1.45em;
}

.big {
  font-size: 8.9em;
}

.thin {
  font-weight: 300;
}

.thick {
  font-weight: 600;
}

.sus-0 {
  background: #c5d2ff;
}

.sus-1 {
  background: -webkit-linear-gradient(left, rgb(205, 9, 34) 0%, rgb(64, 21, 127) 20%, rgb(78, 165, 255) 68%, rgb(0, 198, 107) 88%, rgb(255, 240, 0) 100%);
  background: -o-linear-gradient(left, rgb(205, 9, 34) 0%, rgb(64, 21, 127) 20%, rgb(78, 165, 255) 68%, rgb(0, 198, 107) 88%, rgb(255, 240, 0) 100%);
  background: -moz-linear-gradient(left, rgb(205, 9, 34) 0%, rgb(64, 21, 127) 20%, rgb(78, 165, 255) 68%, rgb(0, 198, 107) 88%, rgb(255, 240, 0) 100%);
  background: linear-gradient(to right, rgb(205, 9, 34) 0%, rgb(64, 21, 127) 20%, rgb(78, 165, 255) 68%, rgb(0, 198, 107) 88%, rgb(255, 240, 0) 100%);
}

.sus-2 {
  background: -webkit-linear-gradient(left, rgb(205, 9, 34) 0%, rgb(243, 122, 80) 47%, rgb(255, 233, 78) 100%);
  background: -o-linear-gradient(left, rgb(205, 9, 34) 0%, rgb(243, 122, 80) 47%, rgb(255, 233, 78) 100%);
  background: -moz-linear-gradient(left, rgb(205, 9, 34) 0%, rgb(243, 122, 80) 47%, rgb(255, 233, 78) 100%);
  background: linear-gradient(to right, rgb(205, 9, 34) 0%, rgb(243, 122, 80) 47%, rgb(255, 233, 78) 100%);
}


.sus-3 {
  background: -webkit-linear-gradient(left, rgb(80, 53, 255) 0%, rgb(146, 83, 255) 43.3%, rgb(214, 0, 236) 100%);
  background: -o-linear-gradient(left, rgb(80, 53, 255) 0%, rgb(146, 83, 255) 43.3%, rgb(214, 0, 236) 100%);
  background: -moz-linear-gradient(left, rgb(80, 53, 255) 0%, rgb(146, 83, 255) 43.3%, rgb(214, 0, 236) 100%);
  background: linear-gradient(to right, rgb(80, 53, 255) 0%, rgb(146, 83, 255) 43.3%, rgb(214, 0, 236) 100%);
}

.sus-4 {
  background: -webkit-linear-gradient(left, rgb(2, 221, 208) 16.1%, rgb(219, 85, 177) 33%, rgb(232, 96, 218) 48.5%, rgb(250, 88, 196) 59.6%, rgb(224, 121, 218) 77.7%, rgb(253, 105, 51) 100%);
  background: -o-linear-gradient(left, rgb(2, 221, 208) 16.1%, rgb(219, 85, 177) 33%, rgb(232, 96, 218) 48.5%, rgb(250, 88, 196) 59.6%, rgb(224, 121, 218) 77.7%, rgb(253, 105, 51) 100%);
  background: -moz-linear-gradient(left, rgb(2, 221, 208) 16.1%, rgb(219, 85, 177) 33%, rgb(232, 96, 218) 48.5%, rgb(250, 88, 196) 59.6%, rgb(224, 121, 218) 77.7%, rgb(253, 105, 51) 100%);
  background: linear-gradient(to right, rgb(2, 221, 208) 16.1%, rgb(219, 85, 177) 33%, rgb(232, 96, 218) 48.5%, rgb(250, 88, 196) 59.6%, rgb(224, 121, 218) 77.7%, rgb(253, 105, 51) 100%);
}

.sus-5 {
  background: -webkit-linear-gradient(left, rgb(86, 51, 253) 0%, rgb(127, 126, 255) 22.5%, rgb(174, 186, 249) 33.6%, rgb(211, 226, 253) 49.9%, rgb(219, 236, 255) 75.3%, rgb(246, 251, 255)100%);
  background: -o-linear-gradient(left, rgb(86, 51, 253) 0%, rgb(127, 126, 255) 22.5%, rgb(174, 186, 249) 33.6%, rgb(211, 226, 253) 49.9%, rgb(219, 236, 255) 75.3%, rgb(246, 251, 255)100%);
  background: -moz-linear-gradient(left, rgb(86, 51, 253) 0%, rgb(127, 126, 255) 22.5%, rgb(174, 186, 249) 33.6%, rgb(211, 226, 253) 49.9%, rgb(219, 236, 255) 75.3%, rgb(246, 251, 255)100%);
  background: linear-gradient(to right, rgb(86, 51, 253) 0%, rgb(127, 126, 255) 22.5%, rgb(174, 186, 249) 33.6%, rgb(211, 226, 253) 49.9%, rgb(219, 236, 255) 75.3%, rgb(246, 251, 255)100%);
}

.sus-6 {
  background: -webkit-linear-gradient(left, rgb(223, 255, 0) 0%, rgb(244, 255, 104) 22.1%, rgb(246, 255, 86) 32.2%, rgb(255, 199, 124) 77.7%, rgb(254, 133, 196) 100%);
  background: -o-linear-gradient(left, rgb(223, 255, 0) 0%, rgb(244, 255, 104) 22.1%, rgb(246, 255, 86) 32.2%, rgb(255, 199, 124) 77.7%, rgb(254, 133, 196) 100%);
  background: -moz-linear-gradient(left, rgb(223, 255, 0) 0%, rgb(244, 255, 104) 22.1%, rgb(246, 255, 86) 32.2%, rgb(255, 199, 124) 77.7%, rgb(254, 133, 196) 100%);
  background: linear-gradient(to right, rgb(222, 255, 10) 0%, rgb(244, 255, 104) 22.1%, rgb(246, 255, 86) 32.2%, rgb(255, 199, 124) 77.7%, rgb(254, 133, 196) 100%);
}

.sus-7 {
  background: -webkit-linear-gradient(left, rgb(82, 0, 23) 0%, rgb(104, 0, 31) 22.5%, rgb(125, 4, 64) 33.6%, rgb(151, 14, 69) 49.9%, rgb(157, 0, 185) 75.3%, rgb(158, 51, 253) 99.6%);
  background: -o-linear-gradient(left, rgb(82, 0, 23) 0%, rgb(104, 0, 31) 22.5%, rgb(125, 4, 64) 33.6%, rgb(151, 14, 69) 49.9%, rgb(157, 0, 185) 75.3%, rgb(158, 51, 253) 99.6%);
  background: -moz-linear-gradient(left, rgb(82, 0, 23) 0%, rgb(104, 0, 31) 22.5%, rgb(125, 4, 64) 33.6%, rgb(151, 14, 69) 49.9%, rgb(157, 0, 185) 75.3%, rgb(158, 51, 253) 99.6%);
  background: linear-gradient(to right, rgb(82, 0, 23) 0%, rgb(104, 0, 31) 22.5%, rgb(125, 4, 64) 33.6%, rgb(151, 14, 69) 49.9%, rgb(157, 0, 185) 75.3%, rgb(158, 51, 253) 99.6%);
}

.sus-8 {
  background: -webkit-linear-gradient(left, rgb(99, 0, 255) 0%, rgb(85, 132, 219) 21.6%, rgb(84, 179, 244) 41.9%, rgb(156, 237, 134) 59.4%, rgb(243, 219, 101) 77.1%, rgb(254, 165, 133) 100%);
  background: -o-linear-gradient(left, rgb(99, 0, 255) 0%, rgb(85, 132, 219) 21.6%, rgb(84, 179, 244) 41.9%, rgb(156, 237, 134) 59.4%, rgb(243, 219, 101) 77.1%, rgb(254, 165, 133) 100%);
  background: -moz-linear-gradient(left, rgb(99, 0, 255) 0%, rgb(85, 132, 219) 21.6%, rgb(84, 179, 244) 41.9%, rgb(156, 237, 134) 59.4%, rgb(243, 219, 101) 77.1%, rgb(254, 165, 133) 100%);
  background: linear-gradient(to right, rgb(99, 0, 255) 0%, rgb(85, 132, 219) 21.6%, rgb(84, 179, 244) 41.9%, rgb(156, 237, 134) 59.4%, rgb(243, 219, 101) 77.1%, rgb(254, 165, 133) 100%);
}

.sus-9 {
  background: -webkit-linear-gradient(left, rgb(149, 221, 2) 5.2%, rgb(8, 213, 133) 22.1%, rgb(50, 238, 185) 44.5%, rgb(99, 119, 244) 73.6%, rgb(129, 57, 255) 84.7%, rgb(221, 51, 253) 100%);
  background: -o-linear-gradient(left, rgb(149, 221, 2) 5.2%, rgb(8, 213, 133) 22.1%, rgb(50, 238, 185) 44.5%, rgb(99, 119, 244) 73.6%, rgb(129, 57, 255) 84.7%, rgb(221, 51, 253) 100%);
  background: -moz-linear-gradient(left, rgb(149, 221, 2) 5.2%, rgb(8, 213, 133) 22.1%, rgb(50, 238, 185) 44.5%, rgb(99, 119, 244) 73.6%, rgb(129, 57, 255) 84.7%, rgb(221, 51, 253) 100%);
  background: linear-gradient(to right, rgb(149, 221, 2) 5.2%, rgb(8, 213, 133) 22.1%, rgb(50, 238, 185) 44.5%, rgb(99, 119, 244) 73.6%, rgb(129, 57, 255) 84.7%, rgb(221, 51, 253) 100%);
}

.sus-10 {
  background: -webkit-linear-gradient(left, rgb(206, 2, 221) 5.2%, rgb(222, 0, 198) 22.1%, rgb(255, 55, 202) 41.6%, rgb(250, 158, 88) 66.2%, rgb(255, 227, 65) 84.7%, rgb(253, 243, 51) 99.6%);
  background: -o-linear-gradient(left, rgb(206, 2, 221) 5.2%, rgb(222, 0, 198) 22.1%, rgb(255, 55, 202) 41.6%, rgb(250, 158, 88) 66.2%, rgb(255, 227, 65) 84.7%, rgb(253, 243, 51) 99.6%);
  background: -moz-linear-gradient(left, rgb(206, 2, 221) 5.2%, rgb(222, 0, 198) 22.1%, rgb(255, 55, 202) 41.6%, rgb(250, 158, 88) 66.2%, rgb(255, 227, 65) 84.7%, rgb(253, 243, 51) 99.6%);
  background: linear-gradient(to right, rgb(206, 2, 221) 5.2%, rgb(222, 0, 198) 22.1%, rgb(255, 55, 202) 41.6%, rgb(250, 158, 88) 66.2%, rgb(255, 227, 65) 84.7%, rgb(253, 243, 51) 99.6%);
}

.sus-11 {
  background: -webkit-linear-gradient(left, rgb(253, 181, 51) 5.2%, rgb(255, 203, 57) 22%, rgb(242, 220, 67) 37%, rgb(197, 199, 102) 58%, rgb(153, 155, 96) 82%, rgb(143, 148, 140) 100%);
  background: -o-linear-gradient(left, rgb(253, 181, 51) 5.2%, rgb(255, 203, 57) 22%, rgb(242, 220, 67) 37%, rgb(197, 199, 102) 58%, rgb(153, 155, 96) 82%, rgb(143, 148, 140) 100%);
  background: -moz-linear-gradient(left, rgb(253, 181, 51) 5.2%, rgb(255, 203, 57) 22%, rgb(242, 220, 67) 37%, rgb(197, 199, 102) 58%, rgb(153, 155, 96) 82%, rgb(143, 148, 140) 100%);
  background: linear-gradient(to right, rgb(253, 181, 51) 5.2%, rgb(255, 203, 57) 22%, rgb(242, 220, 67) 37%, rgb(197, 199, 102) 58%, rgb(153, 155, 96) 82%, rgb(143, 148, 140) 100%);
}

.sus-12 {
  background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 219, 239) 22.5%, rgb(253, 211, 246) 33.6%, rgb(249, 174, 237) 49.9%, rgb(255, 126, 233) 75.3%, rgb(249, 51, 253) 100%);
  background: -o-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 219, 239) 22.5%, rgb(253, 211, 246) 33.6%, rgb(249, 174, 237) 49.9%, rgb(255, 126, 233) 75.3%, rgb(249, 51, 253) 100%);
  background: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 219, 239) 22.5%, rgb(253, 211, 246) 33.6%, rgb(249, 174, 237) 49.9%, rgb(255, 126, 233) 75.3%, rgb(249, 51, 253) 100%);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 219, 239) 22.5%, rgb(253, 211, 246) 33.6%, rgb(249, 174, 237) 49.9%, rgb(255, 126, 233) 75.3%, rgb(249, 51, 253) 100%);
}

.sus-13 {
  background: -webkit-linear-gradient(left, rgb(30, 5, 34) 0%, rgb(64, 0, 75) 14.2%, rgb(95, 0, 141) 26.4%, rgb(119, 8, 209) 42.1%, rgb(176, 118, 232) 59.4%, rgb(220, 148, 242) 81.2%, rgb(246, 133, 254) 99.6%);
  background: -o-linear-gradient(left, rgb(30, 5, 34) 0%, rgb(64, 0, 75) 14.2%, rgb(95, 0, 141) 26.4%, rgb(119, 8, 209) 42.1%, rgb(176, 118, 232) 59.4%, rgb(220, 148, 242) 81.2%, rgb(246, 133, 254) 99.6%);
  background: -moz-linear-gradient(left, rgb(30, 5, 34) 0%, rgb(64, 0, 75) 14.2%, rgb(95, 0, 141) 26.4%, rgb(119, 8, 209) 42.1%, rgb(176, 118, 232) 59.4%, rgb(220, 148, 242) 81.2%, rgb(246, 133, 254) 99.6%);
  background: linear-gradient(to right, rgb(30, 5, 34) 0%, rgb(64, 0, 75) 10%, rgb(95, 0, 141) 26.4%, rgb(119, 8, 209) 42.1%, rgb(176, 118, 232) 59.4%, rgb(220, 148, 242) 81.2%, rgb(246, 133, 254) 99.6%);
}

/* COLOR TEXT
.color-text {
  background: red;

  background: -webkit-linear-gradient(left, 
  background: -o-linear-gradient(left, 
  background: -moz-linear-gradient(left, 

  background: linear-gradient(to right, 

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

@media screen and (min-width: 650px) {}

@media screen and (min-width: 1200px) {

  .words {
    padding-top: 48vh;
  }

}