* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.preload {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  font-weight: 400;
  color: #bababa;
  background-color: #ffe6d7;
  background-image: linear-gradient(62deg, #e2e2e2 0%, #f6f6f6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}
